.swmenu {
 border-top-width: 1px ;
 border-top-style: solid ;
 border-top-color: #B2BAD9 ;
 border-right-width: 1px ;
 border-right-style: solid ;
 border-right-color: #B2BAD9 ;
 border-bottom-width: 1px ;
 border-bottom-style: solid ;
 border-bottom-color: #B2BAD9 ;
 border-left-width: 1px ;
 border-left-style: solid ;
 border-left-color: #B2BAD9 ;
 padding-top: 5px ;
 padding-right: 5px ;
 padding-bottom: 5px ;
 padding-left: 5px ;
 background-color: #474747  ; 
 background-image:-webkit-linear-gradient(left, rgb(18, 18, 20) 12%, rgb(213, 228, 233) 97%) ;
 background-image:-moz-linear-gradient(left, rgb(18, 18, 20) 12%, rgb(213, 228, 233) 97%) ;
 background-image:-ms-linear-gradient(left, rgb(18, 18, 20) 12%, rgb(213, 228, 233) 97%) ;
 background-image:-o-linear-gradient(left, rgb(18, 18, 20) 12%, rgb(213, 228, 233) 97%) ;
 background-image:linear-gradient(left, rgb(18, 18, 20) 12%, rgb(213, 228, 233) 97%) ;
 border-radius: 4px 4px 4px 4px ;
 -moz-border-radius:  4px 4px 4px 4px ;
 -webkit-border-top-left-radius: 4px; 
 -webkit-border-top-right-radius: 4px; 
 -webkit-border-bottom-right-radius: 4px; 
 -webkit-border-bottom-left-radius: 4px; 
 box-shadow: 1px 1px 1px #14040C ; 
 -moz-box-shadow: 1px 1px 1px #14040C ; 
 -webkit-box-shadow: 1px 1px 1px #14040C ; 
 opacity:1 ;
 position:relative; 
 top: 0px  ; 
 left: 0px; 
 list-style: none ; 
 display:inline-block ; 
 width:auto; 
}
.swmenu li{
 display: block; 
 padding: 0 0 0px 0; 
 position:relative ; 
 margin-top: 2px ;
 margin-bottom: 2px ;
}
.swmenu-trigger ,
.swmenu a {
 padding-top: 3px ;
 padding-right: 15px ;
 padding-bottom: 3px ;
 padding-left: 15px ;
 font-size: 15px  ; 
 font-family: Tahoma, Arial, sans-serif;
 text-align: left  ; 
 font-weight: bold  ; 
 color: #E3E3E6  ; 
 font-style: normal ;
 text-decoration: none ;
 text-transform: none ;
 box-shadow: 0.5px 0.5px 2px #121212 inset; 
 -moz-box-shadow: 0.5px 0.5px 2px #121212 inset; 
 -webkit-box-shadow: 0.5px 0.5px 2px #121212 inset; 
 text-shadow: 0.1px 0.1px 0px #050505; 
 -moz-text-shadow: 0.1px 0.1px 0px #050505; 
 -webkit-text-shadow: 0.1px 0.1px 0px #050505; 
 display: block; 
 white-space: nowrap; 
 position: relative; 
 background-color: #616161  ; 
 background-image:-webkit-linear-gradient(left, rgb(128, 127, 122) 23%, rgb(32, 32, 19) 59%) ;
 background-image:-moz-linear-gradient(left, rgb(128, 127, 122) 23%, rgb(32, 32, 19) 59%) ;
 background-image:-ms-linear-gradient(left, rgb(128, 127, 122) 23%, rgb(32, 32, 19) 59%) ;
 background-image:-o-linear-gradient(left, rgb(128, 127, 122) 23%, rgb(32, 32, 19) 59%) ;
 background-image:linear-gradient(left, rgb(128, 127, 122) 23%, rgb(32, 32, 19) 59%) ;
 border-radius: 4px 4px 4px 4px ;
 -moz-border-radius:  4px 4px 4px 4px ;
 -webkit-border-top-left-radius: 4px; 
 -webkit-border-top-right-radius: 4px; 
 -webkit-border-bottom-right-radius: 4px; 
 -webkit-border-bottom-left-radius: 4px; 
 opacity:1 ;
}
.swmenu  li:last-child > a{
}
.swmenu-trigger:hover,
.swmenu li:hover > a{
 color: #120811  ; 
 background-color: #CCCCCC  ; 
 background-image: none;
}
.swmenu-trigger:hover,
*html .swmenu li a:hover {
 background-color: #CCCCCC  ; 
 background-image: none;
 color: #120811  ; 
}
.swmenu-trigger.sw_opened,
.swmenu  .sw_parent.sw_opened,
.swmenu li.sw_active a {
 background-color: #FCDE44  ; 
 background-image: none;
 color: #1D1D63  ; 
 position: relative; 
}
.swmenu li:hover > ul{
 margin:0px 0 0 0px ; 
 visibility:visible;
 opacity:1 ;
 height:auto; 
 width:auto; 
}
.swmenu ul{
 list-style:none ;
 margin:0 0 0 14px ; 
 left:100% ; 
 top:0px ; 
 visibility:hidden;
 position:absolute ;
 z-index:9999; 
 opacity:0;
 transition: opacity 0.282s ,margin 0.282s linear;
 background-image: none;
 padding-top:0px;
 padding-right:0px;
 padding-bottom:0px;
 padding-left:0px;
 box-shadow: 1px 1px 3px #11112E ; 
 -moz-box-shadow: 1px 1px 3px #11112E ; 
 -webkit-box-shadow: 1px 1px 3px #11112E ; 
}
.swmenu ul li{
 float:none ;
 margin-top:0px;
 margin-right:0px;
 margin-bottom:0px;
 margin-left:0px;
 padding: 0 0 0px 0; 
 display:block;
}
.swmenu ul ul{
 left:0px ; 
 top:0px ; 
 left:100% ; 
 margin: 0 0 0 14px ; 
}
.swmenu li.sw_active ul li a ,
.swmenu ul li a {
 padding-top: 9px ;
 padding-right: 28px ;
 padding-bottom: 10px ;
 padding-left: 15px ;
 font-size: 12px  ; 
 font-family: Tahoma, Arial, sans-serif; 
 text-align: left  ; 
 font-weight: normal  ; 
 font-style: normal ;
 text-decoration: none ;
 text-transform: none ;
 display: block; 
 float:none; 
 white-space: nowrap ; 
 background-color: #59CDFF ; 
 background-image:-webkit-linear-gradient(left, rgb(247, 237, 228) 21%, rgb(2, 198, 238) 62%) ;
 background-image:-moz-linear-gradient(left, rgb(247, 237, 228) 21%, rgb(2, 198, 238) 62%) ;
 background-image:-ms-linear-gradient(left, rgb(247, 237, 228) 21%, rgb(2, 198, 238) 62%) ;
 background-image:-o-linear-gradient(left, rgb(247, 237, 228) 21%, rgb(2, 198, 238) 62%) ;
 background-image:linear-gradient(left, rgb(247, 237, 228) 21%, rgb(2, 198, 238) 62%) ;
 color: #131414  ; 
 border-top-width:0;
 border-top-style:none;
 border-right-width:0;
 border-right-style:none;
 border-bottom-width:0;
 border-bottom-style:none;
 border-left-width:0;
 border-left-style:none;
 width:auto; 
 height:auto; 
 line-height:1; 
 border-radius: 0;
 -moz-border-radius:  0;
 -webkit-border-top-left-radius: 0; 
 -webkit-border-top-right-radius: 0; 
 -webkit-border-bottom-right-radius: 0; 
 -webkit-border-bottom-left-radius: 0; 
 box-shadow: 1px 1px 1px  #06060F inset; 
 -moz-box-shadow: 1px 1px 1px #06060F inset; 
 -webkit-box-shadow: 1px 1px 1px #06060F inset; 
 text-shadow:none;
 -moz-text-shadow:none;
 -webkit-text-shadow:none;
 opacity:1 ;
}
.swmenu li.sw_active ul li:first-child > a ,
.swmenu ul li:first-child > a{
 border-radius: 3px 3px 0 0 ;
 -moz-border-radius:  3px 3px 0 0 ;
 -webkit-border-top-left-radius: 3px; 
 -webkit-border-top-right-radius: 3px; 
}
.swmenu li.sw_active ul li:last-child:first-child > a ,
.swmenu ul li:last-child:first-child > a{
 border-radius: 3px 3px 3px 3px ;
 -moz-border-radius:  3px 3px 3px 3px ;
 -webkit-border-top-left-radius: 3px; 
 -webkit-border-top-right-radius: 3px; 
 -webkit-border-bottom-right-radius: 3px; 
 -webkit-border-bottom-left-radius: 3px; 
}
.swmenu li.sw_active ul li:last-child > a ,
.swmenu ul li:last-child > a{
 border-radius: 0 0 3px 3px ;
 -moz-border-radius:  0 0 3px 3px ;
 -webkit-border-bottom-right-radius: 3px; 
 -webkit-border-bottom-left-radius: 3px; 
}
*html .swmenu ul a{ /* IE6 */  
}
*:first-child+html .swmenu ul a{ /* IE7 */ 
}
.swmenu li.sw_active ul li a:hover ,
.swmenu ul a:hover {
 background-color: #E8E109  ; 
 background-image: none;
 color: #314269  ; 
}
.swmenu li.sw_active ul li:hover > a ,
.swmenu ul li:hover > a {
 background-color: #E8E109  ; 
 background-image: none;
 color: #314269  ; 
}
.swmenu ul li > a.sw_parent.sw_opened  ,
.swmenu li.sw_active ul li > a.sw_opened ,
.swmenu li.sw_active ul li.sw_active > a {
 background-color: #F9FF47  ; 
 background-image: none;
 color: #121212  ; 
}
* html .swmenu             { zoom: 1; } /* IE6 */
*:first-child+html .swmenu { zoom: 1; } /* IE7 */
.swmenu li:hover > a img.seq2,
.swmenu li.sw_active a img.seq2,
.swmenu li.sw_active ul li > a img.seq1,
.swmenu li.sw_active ul li:hover > a img.seq2,
.swmenu img.seq1
{
 display:    inline; 
}
.swmenu img.seq2,
.swmenu li.sw_active  a img.seq1,
.swmenu li.sw_active ul li:hover > a img.seq1,
.swmenu li.sw_active ul li > a img.seq2,
.swmenu li:hover > a img.seq1
{
 display:   none; 
}
